.body {
    margin: 0px;
}

#table {
    border-left: 1px solid darkslategray;
    border-top: 1px solid darkslategray;
    border-right: 1px solid darkslategray;
    margin: 50px;
    display: grid;
    width: max-content;
}

#col-1, #col-2, .companies, .users {
    padding: 20px;
    margin: 0px;
    border-bottom: 1px solid darkslategray;
}

.users, #col-2 {
    border-left: 1px solid darkslategray;
}

.companies, .users {
    padding: 5px;
}

#col-1, #col-2 {
    font-weight: bold;
}

#col-1 {
    grid-row: 1;
    grid-column: 1;
}

#col-2 {
    grid-row: 1;
    grid-column: 2;
}

.companies {
    grid-column: 1;
}

.users {
    grid-column: 2;
}